# Environment variables
.env

# Data files
data/fetched-files

# Log files
logs/

# Python cache directories
__pycache__/
*.pyc
*.pyo

# IDE and editor settings
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Excel files
*.xlsx

# Other backup and temporary files
*.bak
*.tmp
